
        #btn1
        {
            width: 100px;
        }
       

        .box {
            width: 300px;
            height: 400px;
            border-radius: 20px;
            margin: auto;
            background-color: bisque;
            padding-top: 20px;
        }
        img {
            width: 150px;
            height: 150px;
        }
        body{
            background-color: rgb(190, 225, 139);
        }
        #container
        {
            text-align: center;
            /* padding-top: 20px; */
        }
        h1{
            font-size: 50px;
        }

        .vertical-space {
            height: 30px;
        }

        button {
            width: 100px;
            height: 40px;
            background-color: blueviolet;
            color: white;
            border-radius: 20px;
            border: blue;
        }
        #cityInfo
        {
            font-size: 25px;
            /* text-align: center; */
            color: black;
            margin:auto;
        }
        #ip {
            height: 40px;
            width: 200px;
            border-radius: 20px;
            border: none;
            padding: 0 10px;
        }

